.header {
  text-align: center;
  margin: 1rem 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #666;
}

.button {
  margin-bottom: 1rem;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  background-color: #3d1edd;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
  width: auto;
  max-width: 10rem;
  text-align: center;
}

.button:hover {
  background-color: #434190;
}
