.header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 1.25rem 0;
}

.content {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 2.5rem;
}

.logo {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.link {
  margin-left: 1.25rem;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

.link:hover {
  color: #5a67d8;
}

.linkb {
  margin-left: 1.25rem;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  transition: color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
}

.linkb:hover {
  color: #eee;
}

.signUp {
  color: #fff;
  background-color: #3d1edd;
  padding: 0.75rem 1.75rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.signUp:hover {
  background-color: #434190;
}

.logIn {
  color: #fff;
  background-color: #3d1edd;
  padding: 0.75rem 1.75rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.logIn:hover {
  background-color: #434190;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .nav {
    flex-direction: column;
    gap: 0.625rem;
  }
}
